/*GENERAL STYLING*/

@font-face {
    font-family: myFont;
    src: url(Helvetica\ Neue\ Medium\ Extended.ttf);
}

body {  
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    margin: 0px;
}

main {
    margin: 5rem;
    padding: 1rem;
    font-family: myFont;
}

/*REDIRECT PAGE*/

.link {
    border-top: 1px solid rgba(137, 255, 69, 1);
    color: rgba(137, 255, 69, .8);
    display: block;
    font-family: myFont;
    font-size: clamp(2em, 8vw, 7em);
    padding: clamp(.25em, 1vmin, 1em) clamp(1em, 4vmin, 4em);
    text-decoration: none;
    position: relative;
}

.link:hover {
    color: #fff320;
}

.link:hover:before {
    transition: width 350ms ease;
    width: 100%;
}

.link:before {
        background: linear-gradient(
        118deg,
        transparent 40vw,
        rgba(137, 255, 69, .5)50vw,
        rgba(137, 255, 69, 1),
        #66cfec,
        #36d02f,
        #fff384,
        #fff320
    );
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 0%;
    content: "";
}

.link:nth-child(4) {
    border-bottom: 1px solid rgba(137, 255, 69, 1)
    ;
}

/*NAVBAR*/

.navbar {
    width: 5rem;
    height: 100vh;
    position: fixed;
    background-color: rgba(137, 255, 69, .7);
    font-family: myFont;
    text-decoration: none;
    transition: width 350ms ease-in-out;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item {
    width: 100%;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    text-decoration: none;
}

.link-text {
    display: none;
    margin-left: 1rem;
    color: black;
}

.link-text:hover {
    transition: ease 200ms;
    color: white;
}

.nav-link svg {
    min-width: 2rem;
    margin: 0 1.5rem;
}

.navbar:hover {
    width: 16rem;
}

.navbar:hover .link-text {
    display: block;
}

/*RESPONSIVE DESIGN*/

@media (max-width: 600px) {
    .navbar {
        bottom: 0;
        width: 100vh;
        height: 5rem;
    }

    .navbar-nav {
        flex-direction: row;
    }

    .nav-link {
        justify-content: space-evenly;
    }
    
    main {
        margin: 0;
    }

    .navbar:hover .link-text {
        display: none;
    }
}

@media (min-width: 600px) {
    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
    }

    .navbar:hover {
        width: 16rem;
    }
}

svg {
    max-width: 30px;
    opacity: 80%;
}

/*GALLERY*/

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 3rem;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    transition: all 350ms ease;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*GALLERY RESPONSIVE DESIGN*/

@media screen and (min-width: 600px) {
    .card-tall {
    grid-row: span 2 / auto;
    }

    .card-wide {
        grid-column: span 2 / auto;
    }
}

.gallery {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-auto-rows: 240px;
    padding-left: 100px;
    overflow: scroll;
    overflow-x: hidden;
}

/*MAIN TEXT STYLING*/

h1 {
    font-family: myFont;
    font-size: 3rem;
    padding-left: 3rem;
    color: rgb(222, 222, 222);
}

p {
    padding-left: 3rem;
    color: rgb(222, 222, 222);
    font-size: 1.5rem;
}

.main-page {
    font-size: 5rem;
    color: rgba(137, 255, 69, 1);
}

/*FOOTER STYLING*/

footer {
    padding-left: 5rem;
    position: fixed;
    bottom: 0;
    width: 100vw;
}

.footer-item {
    width: 100%;
}

.footer-link {
    display: flex;
    justify-content: space-around;
    font-family: myFont;
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
}

.footer-link:hover {
    transition: ease 200ms;
    color: rgba(137, 255, 69, 1);
}

ul {
    display: flex;
    justify-content: space-around;
}

li {
    list-style: none;
    padding-left: 1rem;
    padding-right: 1rem;
}

@media (max-width: 600px) {
    footer {
        display: none;
    }
}

.about-button {
    display: flex;
    justify-content: center;
    font-family: myFont;
    font-size: 3rem;
    color: rgb(222, 222, 222);
    text-align: center;
    width: 20%;
    padding-left: 5rem;
}

a {
    text-decoration: none;
    color: white;
}

.btn {
    color: rgb(222, 222, 222);
}

.btn:hover {
    transition: ease 350ms;
    color: rgba(137, 255, 69, 1);
}

/*FORM*/

.form-styling {
    display: flex;
    height: 50vh;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    align-items: center;
    max-width: 900px;
    width: 100%;
    background-color: rgba(137, 255, 69, .7);
    font-family: myFont;
    padding: 10px;
    border-radius: 5px;
}

.container .title {
    font-size: 3rem;
    position: relative;
    padding-right: 2rem;
}

.container .title::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
}

.container form .user {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form .user .input-box {
    margin: 20px 0 12px 0;
    width: calc(100% / 2 - 20px);
}
.user .input-box .details {
    display: block;
    margin-bottom: 5px;
}

.user .input-box input {
    height: 30px;
    width: 70%;
    outline: none;
    border-radius: 5px;
}

form .gender-option .gender-title {
    font-size: 22px;
}

form .gender-option .category {
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin: 15px 0;
}

.gender-option .category label {
    display: flex;
    align-items: center;
}

.gender-option .category .dot {
    height: 20px;
    width: 20px;
    background: white;
    border: 5px solid transparent;
    border-radius: 5px;
    margin-right: 1rem;
}

#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two {
    border-color: yellow;
    background: rgba(137, 255, 69, 1);
}

form input[type="radio"] {
    display: none;
}

form .button {
    height: 50px;
    margin: 50px 0;
}

form .button input {
    height: 100%;
    width: 100%;
    color: black;
    font-family: myFont;
    border-radius: 5px;
}

form .button input:hover {
    transition: all ease 350ms;
    background: linear-gradient(
        118deg,
        rgba(137, 255, 69, .5),
        rgba(137, 255, 69, 1),
        #66cfec,
        #36d02f,
        #fff384,
        #fff320)
}

@media (max-width: 600px) {
    .container {
        max-width: 100%;
    }

    form .user .input-box {
        width: 100%;
    }

    form .gender-option .category {
        width: 100%;
    }

    .container form .user {
        max-height: 300px;
        overflow-y: scroll;
    }
}
